/* body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0;
} */

.errorContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*
.errorCode {
	font-size: 6rem;
	color: #555;
	margin: 0;
}

.errorMessage {
	font-size: 2rem;
	color: #555;
	margin: 0;
}

.error-description {
	font-size: 1.2rem;
	color: #777;
} */
