.sectionContainer {
    width: 100%;
}

.sectionContainer header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.searchInput {
    flex: 1 1 300px;
    margin-inline-end: auto;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    align-items: stretch;
}

@media (max-width: 768px) {
    .wrapper {
        justify-content: center;
    }
}